@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fafafa;
  --text-primary-color: #212121;

  background-color: var(--background-color);
  color: var(--text-primary-color);
}
